html, body {
    background-color: #eee;
}

body {
    padding-top: 40px; /* 40px to make the container go all the way to the bottom of the topbar */
}

a:hover {
  text-decoration: none;
}

.container > footer p {
    text-align: center; /* center align it with the container */
}
.container {
    width: 940px; /* downsize our container to make the content feel a bit tighter and more cohesive. NOTE: this removes two full columns from the grid, meaning you only go to 14 columns and not 16. */
}

/* The white background content wrapper */
.content {
    background-color: #fcfcfc;
    padding: 20px;
    margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
    -webkit-border-radius: 0 0 6px 6px;
       -moz-border-radius: 0 0 6px 6px;
            border-radius: 0 0 6px 6px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
            box-shadow: 0 1px 2px rgba(0,0,0,.15);
    min-height: 10px;
}

.navbar .brand {
  font-size: 25px;
}

.page-header h1 {
  font-family: sathu;
  font-size: 36px;
  text-align: center;
}

.motto {
  font-size: 20px;
  display: block;
  float: right;
  margin: 10px 0 0 0;
  color: #999;
}

.city {
  text-align: center;
  font-size: 16px;
}

.border-bottom {
  border-bottom: 1px solid black;
}

.center{
  width: 980px;
  margin-right: auto;
  margin-left: auto;
}

.weather-img img{
  width: 70px;
}

#city-selected h1 {
  margin-top: 0;
}
.modal {
  width: 650px;
}


#city-selected {
  display: none;
}

#city-selection {
  vertical-align: middle;
  /*display: none;*/
}

#city-selection select {
  margin: 0;
}

.city-selection-button {
  background-color: #323232;
  color: white;
  display: inline-block;
  padding: 5px;
  margin-right: 10px;

  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

#content-tags .tag {
  display: inline-block;
  float: right;
  background-color: #47a6c6;
  margin-right: 10px;
  padding: 5px;
  color: white;
}
#content-tags .tag:hover {
  background-color: #55C7ED;
}

#content-tags .remove-tag {
  font-style: italic;
  font-weight: bold;
  color: white;
  border-left: 1px solid #fff;
  padding-left: 3px;
  margin-left:  3px;
  font-size: 1em;
}

#content-tags .remove-tag:hover {
  font-size: 1em;
  text-decoration: none;
}

#container {
  position:relative;
  background: #FFF;
  padding: 5px;
  margin-bottom: 20px;
  margin-top: 30px;
  border-radius: 5px;
  clear: both;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;

}

.box {
  overflow: hidden;
  position: relative;
  margin: 5px;
  line-height: 1.4em;
  float: left;
  width: 200px;
  max-width: 200px;
}

.box img {
  max-width: 200px;
}

.item-overlay {
  position:absolute;
  font-size: 11px;
}

.social-bar {
  width: 190px;
  top: -60px;
  height: 50px;
  padding: 0 5px;
}
.social-bar a,
.social-bar a:hover {
  color: white;
  font-size: 1.5em;
}
.social-bar > a > div {
  padding: 5px;
}

.social-bar .social-tag {
  width: 65px;
  display: inline-block;
  height: 50px;
  background-color:rgba(218,139,235,0.7);
}
.social-bar .social-save {
  width: 65px;
  display: inline-block;
  height: 50px;
  background-color: #6ae7ea;
  opacity: 0.7;
  float: right;
}

.slider {
  background-color: rgba(0, 0, 0, 0.7);

  color:white;

  width: 190px;
  bottom: -40px;
  height:60px;
  padding: 5px;
}

/*.slider-hover {
  background-color: rgba(201,135,2,0.7);
}
*/

.slider .title {
  font-size: 1.5em;
  font-weight: bold;
  height: 25px;
}

#container .refreshing-items {
  z-index: 100;
}

#auth-buttons {
  text-align: right;
  margin-bottom: 20px;
}


.modal-buttons {
  font-weight: bold;
  color:white;
  margin-bottom:10px;
  width: 105px;
  text-align: center;
}


.modal-subtitle {
  font-size: 11px;
  font-weight: normal;
}


.modal-show-read,
.modal-show-buy,
.modal-show-share {
  display: none;
}

#loader {
    position:absolute;
    width:100%;
    height:100%;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
    border: 1px solid #ccc;
    background-color: red;
    z-index:1000;
}

.modal-backdrop, .modal-backdrop.fade.in {
  opacity: .9;
  background-color: #fff;
  filter: alpha(opacity=90);
}

.modal {
  -moz-box-shadow: rgba(0,0,0,0.1) 0 0 0 10px;
  -webkit-box-shadow: rgba(0,0,0,0.1) 0 0 0 10px;
  box-shadow: rgba(0,0,0,0.1) 0 0 0 10px;

  -webkit-border-radius: 0;
   -moz-border-radius: 0;
        border-radius: 0;
}

.modal-header {
  background-color: #f5f3e8;
}

.modal-header h3 {
  font-family: Georgia, serif;
}

.modal-footer {
  text-align: left;
}

.comment .comment-author {
  font-weight: bold;
}

.comment .comment-date {
  font-size: small;
  color: #47a6c6;
}
.comment .comment-content {
  padding-left: 10px;
}

.comment {
  margin-bottom: 10px;
}

.modal.fade.in.modal-tag {
  top: 35%;
  width: 300px;
  padding: 25px;
  margin-left: -150px;
}
.modal.fade.in.modal-tag input {
  width: 286px;
}

/*http://charliepark.org/bootstrap_buttons/*/

.btn-read {
  background-color: hsl(272, 100%, 82%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e7ccfe", endColorstr="#d4a3fe");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#e7ccfe), to(#d4a3fe));
  background-image: -moz-linear-gradient(top, #e7ccfe, #d4a3fe);
  background-image: -ms-linear-gradient(top, #e7ccfe, #d4a3fe);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e7ccfe), color-stop(100%, #d4a3fe));
  background-image: -webkit-linear-gradient(top, #e7ccfe, #d4a3fe);
  background-image: -o-linear-gradient(top, #e7ccfe, #d4a3fe);
  background-image: linear-gradient(#e7ccfe, #d4a3fe);
  border-color: #d4a3fe #d4a3fe hsl(272, 100%, 80%);
  color: white !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.13);
  -webkit-font-smoothing: antialiased;
  display: block;
}

.btn-buy {
  background-color: hsl(195, 60%, 35%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2d95b7", endColorstr="#23748e");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#2d95b7), to(#23748e));
  background-image: -moz-linear-gradient(top, #2d95b7, #23748e);
  background-image: -ms-linear-gradient(top, #2d95b7, #23748e);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2d95b7), color-stop(100%, #23748e));
  background-image: -webkit-linear-gradient(top, #2d95b7, #23748e);
  background-image: -o-linear-gradient(top, #2d95b7, #23748e);
  background-image: linear-gradient(#2d95b7, #23748e);
  border-color: #23748e #23748e hsl(195, 60%, 32.5%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.16);
  -webkit-font-smoothing: antialiased;
  display: block;
}

.btn-share {
  background-color: hsl(145, 62%, 68%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cdf3dd", endColorstr="#7adfa4");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#cdf3dd), to(#7adfa4));
  background-image: -moz-linear-gradient(top, #cdf3dd, #7adfa4);
  background-image: -ms-linear-gradient(top, #cdf3dd, #7adfa4);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cdf3dd), color-stop(100%, #7adfa4));
  background-image: -webkit-linear-gradient(top, #cdf3dd, #7adfa4);
  background-image: -o-linear-gradient(top, #cdf3dd, #7adfa4);
  background-image: linear-gradient(#cdf3dd, #7adfa4);
  border-color: #7adfa4 #7adfa4 hsl(145, 62%, 63%);
  color: white !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.33);
  -webkit-font-smoothing: antialiased;
  display: block;
}

.btn-facebook {
  background-color: hsl(201, 100%, 30%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00a5ff", endColorstr="#006399");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#00a5ff), to(#006399));
  background-image: -moz-linear-gradient(top, #00a5ff, #006399);
  background-image: -ms-linear-gradient(top, #00a5ff, #006399);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00a5ff), color-stop(100%, #006399));
  background-image: -webkit-linear-gradient(top, #00a5ff, #006399);
  background-image: -o-linear-gradient(top, #00a5ff, #006399);
  background-image: linear-gradient(#00a5ff, #006399);
  border-color: #006399 #006399 hsl(201, 100%, 25%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
  -webkit-font-smoothing: antialiased;
}


.btn-twitter {white
  background-color: hsl(201, 100%, 58%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8ed7ff", endColorstr="#28b4ff");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#8ed7ff), to(#28b4ff));
  background-image: -moz-linear-gradient(top, #8ed7ff, #28b4ff);
  background-image: -ms-linear-gradient(top, #8ed7ff, #28b4ff);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8ed7ff), color-stop(100%, #28b4ff));
  background-image: -webkit-linear-gradient(top, #8ed7ff, #28b4ff);
  background-image: -o-linear-gradient(top, #8ed7ff, #28b4ff);
  background-image: linear-gradient(#8ed7ff, #28b4ff);
  border-color: #28b4ff #28b4ff hsl(201, 100%, 53%);
  color: white !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.33);
  -webkit-font-smoothing: antialiased;
  display:block;
}

#wwear-header {
  background-color: #111;
  height: 90px;
  position: relative;
  margin-bottom: 20px;
}

body {
  padding-top: 0;
  background-color: white;
}

#wwear-header img {
  width: 100px;
  position: absolute;
  top:20px;
  left: 50px;
}

@font-face {
    font-family: 'bodoniflfbold_italic';
    src: url('/assets/fonts/bodoniflf-bolditalic-webfont.eot');
    src: url('/assets/fonts/bodoniflf-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/bodoniflf-bolditalic-webfont.woff') format('woff'),
         url('/assets/fonts/bodoniflf-bolditalic-webfont.ttf') format('truetype'),
         url('/assets/fonts/bodoniflf-bolditalic-webfont.svg#bodoniflfbold_italic') format('svg');
    font-weigh/assets
    font-style: normal;
}

#wwear-header-motto {
  color: white;
  text-align: right;
  vertical-align: bottom;
  padding-top: 55px;
  font-size: 25px;
  padding-right: 10px;
  font-family: bodoniflfbold_italic;
}
