@(temp: String, weather: String, weatherImg: String, cityCode : String, hearstItems:List[HearstItem])

@import controllers._
@import models._
@import helper._

@main("Your City Experience") {


<div class="row">
  <div class="span14">
      <div class="span6">
        <img src="@routes.Assets.at("images/"+cityCode+".png")"/>
      </div>
      <div class="span4">
        <img src="@routes.Assets.at("images/"+weatherImg+".png")"/>
        <br>
        <h5>
          Temperature: @temp &deg;F
          <br>
          Current weather: @weather
        </h5>
      </div>
  </div>
</div>

<div class="row">
  <div class="span14" style="height:5 0px;">
  </div>
</div>

<div class="row">
      <div class="row">
        <ul class="nav nav-list">
          <h3><center>Shop styles based on articles.</center></h3>
          <li class="divider"></li>
        </ul>
      </div>
    

      <ul class="thumbnails">
      @for(item <- hearstItems) {
            <li class="span4">
              <!-- Button to trigger modal -->
              <a href="#@item.getId()" role="button" class="thumbnail" data-toggle="modal">
                <img src=@item.getDefaultUrl() data-src=:"holder.js/260x180" style="width: 260px; height: 300px;" alt=""/>
              </a>

              <!-- Modal -->
              <div id="@item.getId()" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                  <h3 id="myModalLabel">Products</h3>
                </div>
                <div class="modal-body">
                  <ul class="thumbnails">
                  @if(item.giltProducts.size>0) {
                    @for(product <- item.giltProducts) {
                        <div class="span8">
                          <a href="@product.buyUrl"><img src="@product.imageUrl"/></a>
                        </div>
                      }
                  }else{
                    <div class="span8">
                       <p>
                          No products found.
                       </p>
                    </div>
                   }
                  </ul>
                </div>
              </div>
            </li>
      }
      </ul>
  </div>
}

