@(temp: String, weather: String, weatherImg: String, cityCode : String, hearstItems:Map[String, List[HearstItem]])

@import controllers._
@import models._
@import helper._

@main("Hearst Hackathon 2013") {
<section class="main">
  <section class="city-content">
    <div class="content">
      <img src="@routes.Assets.at("images/"+cityCode+".png")"/>
    </div>

  <div class="content">
    <img src="@routes.Assets.at("images/"+weatherImg+".png")"/>
  </div>

    <div class="content">
      Temperature: @temp oF
    Current weather: @weather 
    </div>
  </section>
  
  <section class="articles">
    <h2>Catch up on Articles about New York</h2>
    <div class="article-list">

      @for((key,value) <- hearstItems) {
        @for(item <- value) {
          <div class="content">
            <a href=@item.getDefaultUrl()>
              <p>Read something</p>
              <div class="photo">
                <img src=@item.getDefaultUrl() alt="some article">
              </div>
            </a>
          </div>
        }
      }
    </div>
  </section>
</section>
}

