@()

@import controllers._
@import models._
@import helper._

@main("Hearst Hackathon 2013") {

<section class="selectors">


  <div class="content">

    @helper.form(action = routes.Application.submit, 'id -> "myForm") {
       <a href="@routes.Application.submit"><img src="@routes.Assets.at("images/new_york.png")"/></a>
       <input type="hidden" name="name" value="new york">
    }
    
  </div>

  <div class="content">
    <a href="/city/1"><img src="@routes.Assets.at("images/london.png")"/></a>
  </div>

  <div class="content">
    <a href="@routes.Application.submit"><img src="@routes.Assets.at("images/hawaii.png")"/></a>
  </div>

<section>

}

