@(sales: List[GiltSale])

@import controllers._
@import models._

@main("Hearst Hackathon 2013") {

<h1>W|WEAR</h1>
<select id="city-selector" class="btn btn-danger">
  <option value="">Select City</option>
	<option value="new-york">New York</option>
</select>

<section class="articles">
  <h2>Catch up on Articles about New York</h2>
  <div class="article-list">
    <div class="content">
      <a>
        <div class="photo">
          <img src="http://www.elle.com/cm/elle/images/NB/elle-01-tl-180-designers-xln-th2.jpg" alt="some article">
        </div>
        <p>Read something</p>
      </a>
    </div>
    <div class="content">
      <a>
        <div class="photo">
          <img src="http://www.elle.com/cm/elle/images/NB/elle-01-tl-180-designers-xln-th2.jpg" alt="some article">
        </div>
        <p>Read something</p>
      </a>
    </div>
    <div class="content">
      <a>
        <div class="photo">
          <img src="http://www.elle.com/cm/elle/images/NB/elle-01-tl-180-designers-xln-th2.jpg" alt="some article">
        </div>
        <p>Read something</p>
      </a>
    </div>
    <div class="content">
      <a>
        <div class="photo">
          <img src="http://www.elle.com/cm/elle/images/NB/elle-01-tl-180-designers-xln-th2.jpg" alt="some article">
        </div>
        <p>Read something</p>
      </a>
    </div>
	</div>
</section>

<section class="fashion">
  <h2>Shop New York fashion</h2>
  <div class="products">
    <div class="content">
      <a href="">
        <div class="photo">
          <img src="http://cdn1.giltcdn.com/images/share/uploads/0000/0001/5642/156427646/220x294.jpg" alt="Buy something">
        </div>
        <div class="info">
          <h3 class="brand-name">brand.name</h3>
          <h3 class="product-name">product.name</h3>
          <h3 class="gilt-price">$ gilt price</h3>
          <h3 class="msrp-price">$ msrp price</h3>
        </div>
      </a>
    </div>
    <div class="content">
      <a href="">
        <div class="photo">
          <img src="http://cdn1.giltcdn.com/images/share/uploads/0000/0001/5642/156427646/220x294.jpg" alt="Buy something">
        </div>
        <div class="info">
          <h3 class="brand-name">brand.name</h3>
          <h3 class="product-name">product.name</h3>
          <h3 class="gilt-price">$ gilt price</h3>
          <h3 class="msrp-price">$ msrp price</h3>
        </div>
      </a>
    </div>
    <div class="content">
      <a href="">
        <div class="photo">
          <img src="http://cdn1.giltcdn.com/images/share/uploads/0000/0001/5642/156427646/220x294.jpg" alt="Buy something">
        </div>
        <div class="info">
          <h3 class="brand-name">brand.name</h3>
          <h3 class="product-name">product.name</h3>
          <h3 class="gilt-price">$ gilt price</h3>
          <h3 class="msrp-price">$ msrp price</h3>
        </div>
      </a>
    </div>
  </div>
</section>

<section class="travel">
  <h2>Stay in New York</h2>
  <div class="hotels">
    <div class="content">
      <a href="http://www.jetsetter.com/hotels/new-york/new-york-city/614/hotel-sofitel-new-york">
        <div class="photo">
          <img src="http://cdn.jetcdn.com/static/image/ZmR1XwR3AvkcoJSaMKZipUWiMUIwqP9jpz9jMKW0nJImYmLkAP9mpzZgZwNlBGRgZGZ0AGVlAwN0ZF5dpTp" alt="Hotel Sofitel New York">
        </div>
        <p>Hotel Sofitel New York</p>
      </a>
    </div>
    <div class="content">
      <a href="http://www.jetsetter.com/hotels/new-york/new-york-city/421/70-park-hotel">
        <img class="photo" src="http://cdn.jetcdn.com/static/image/ZmHjXwV1ZPkcoJSaMKZipUWiMUIwqP9jpz9jMKW0nJImYmDlZF9mpzZgBQDmAGHgZGZmZmN0BGL2Av5dpTp">
        <p>70 Park Hotel</p>
      </a>
    </div>
    <div class="content">
      <a href="http://www.jetsetter.com/hotels/new-york/new-york-city/137/gild-hall">
        <div class="photo">
          <img src="http://cdn.jetcdn.com/static/image/ZmR1XwR3AvkcoJSaMKZipUWiMUIwqP9jpz9jMKW0nJImYmRmAl9mpzZgZGN2AQHgZGZlZmR4ZGLjAP5dpTp">
        </div>
        <p>Gild Hall</p>
      </a>
    </div>
  </div>
</section>

}	